
<h1 class="display-1">Sobre nos  </h1>
<hr/>
<h2 class="text-muted">Empresa de desenvolvimento</h2>

   <table class="table table-success table-striped">
   <tr>
   <td>nome</td>
   <td>idade</td>
   <td>profissão</td> 
   </tr> 
   <tr>
   <td>JOÂO</td>
   <td>47</td>
   <td>VENDEDOR</td>
   </tr> 
   <tr>
   <td>MARIA</td>
   <td>36</td>
   <td>VENDEDORA</td> 
   </tr> 
   <tr>
   <td>ISABELA</td>
   <td>54</td>
   <td>ANALISTA</td> 
   </tr> 
   <tr>
   <td>JULIO</td>
   <td>36</td>
   <td>PROGRAMADORA</td> 
   </tr> 
   </table>
